<form action ="/contacts" method="post">
  <p> enter the person's first name<input type ="text" name="first_name"></p>
  <p> enter the person's middle name<input type ="text" name="middle_name"></p>
  <p> enter the person's last name<input type ="text" name="last_name"></p>
  <p> enter the person's email<input type="text" name="email"></p>
  <p> enter the person's phone number<input type ="text" name="phone_number"></p>
  <input type="submit">
</form>